/* ContactStyles.css */

/* Center the contact info section */
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Style the icons */
.icon {
  font-size: 36px; /* Adjust the size as needed */
  margin-bottom: 10px; /* Add spacing between icons */
  transition: transform 0.2s ease; /* Add smooth animation on hover */
}

/* Rotate the icon on hover */
.icon:hover {
  transform: rotate(360deg);
}


.contact-item{
  padding: 20px;
}