/* Home.css */

/* Styles for the banner */
.banner {
  background-color: var(
    --secondary-color
  ); /* Use the secondary color for the banner background */
  padding: 20px;
  text-align: center;
}

.banner h1 {
  font-size: 24px;
  color: var(--primary-color); /* Use the primary color for the heading text */
}

.tools-section {
  display: flex;
  padding: 20px;
  height: 100%;
}

.tools-title {
  font-size: 28px;
  color: var(--primary-color);
  text-align: center;
  margin-top: 20px;
}
.tool-cards {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next row */
  gap: 20px; /* Adjust the gap between cards as needed */
}

.card {
  flex: 0 0 calc(33.33% - 20px); /* Set each card to take up 33.33% of the container width */
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;

  border-radius: 10px;
  transition: transform 0.2s ease; /* Add a smooth transition effect */
}

.card:hover {
  transform: scale(
    1.05
  ); /* Scale the card slightly on hover for a smooth effect */
}
