.moving-averages-container {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  max-width: 600px;
}
.data-input,
.window-size-input {
  
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  background-color: transparent;
  color: var(--accent-color);
}


.result-values{
font-weight: bold;
}